---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
    마지막 수정일: {{ "now" | date: "%Y-%m-%d %H:%M" }}

  <div style="text-align: center;">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/'}}" target="_blank">
      <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/'}}.svg" />
    </a>
  </div> 

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {{ page.date | date: "%F(%A)" }}, 1년의 {{ page.date | date: "%j" }}번째날에 작성
  </div>

  {% include disqus.html %}
</article>
